/*farvekoder:
baggrund #f7f5f3
tekst #29467f
*/

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7f5f3;
    color: #29467f;
    line-height: 1.5;
}

/*navigation*/

header{
    background-color: #f7f5f3;
    padding: 1em;
}

.logo{
    width: 70px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
}

nav ul{
    list-style-type: none; /*fjerner bulletpoints*/
    padding: 0;
}

nav li{
    padding: 0.8em;
}

nav li a{
    color: #29467f;
    text-decoration: none;
    font-size: 20px;
}

nav li a:hover{
    text-decoration: underline;
}


/*header*/
header nav{
    display: none;
}

header{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2em;
    border-bottom: #333 1px solid;
}

.show{
    display: block;
    position: absolute;
    top: 49px;
    left: 0;
    background-color: rgb(215, 196, 110);
    width: 100%;
}

button#bars{
    background-color: transparent;
    border: none;
}

/*main*/
main{
    margin: 4em;
}

.logo-center{
    display: flex;
    justify-self: center;
    height: 15em;
    width: auto;
    padding: 1em 0 1em 0;
}

.section-1{
    text-align: center;
    color: #29467f;
    padding: 1em 0 1em 0;
}

.liste-1{
    display: flex;
    justify-content: center;
}


ol li a, footer a{
    list-style-position: inside;
    text-decoration: none;
}

.nordvest,
.bronshoj,
.norrebro,
.frederiksberg,
.vesterbro,
.amager,
.osterbro{
    text-align: center;
    padding: 1em 0 1em 0;
}

h1{
    font-size: 18px;
}

h2{
    font-size: 16px;
}

h2 a{
    text-decoration: none;
}

section img{
    width: 60%;
    display: block; /* vi er nødt til at bruge display block for at kunne bruge margin: 0 auto; fordi img er et inline element og margin kun kan bruges på block elementer */
    margin: 0 auto;
}

/*footer*/
footer{
    border-top: 1px #333 solid;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.footer-img img{
    width: 40px;
    height: auto;
    padding: 0.5em;
}

/*desktop responsiv*/
@media screen and (min-width: 769px){
    .nordvest, 
    .norrebro,
    .vesterbro,
    .osterbro{
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        gap: 1em;
    }

    .text{
        padding-top: 8.5em;;
    }

    .bronshoj,
    .frederiksberg,
    .amager{
        display: flex;
        flex-direction: row;
        text-align: left;
        gap: 1em;
    }


}