/*farvekoder:
baggrund #f7f5f3
tekst #29467f
*/

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7f5f3;
    color: #29467f;
    line-height: 1.5;
}

/*header & navigation*/
header{
    background-color: #f7f5f3;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2em;
    border-bottom: #333 1px solid;
}

header nav{
    display: none;
}

.logo{
    width: 70px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
}

nav ul{
    list-style-type: none; /*fjerner bulletpoints*/
    padding: 0;
    text-align: right;
}

nav li{
    padding: 0.8em;
}

nav li a{
    color: #29467f;
    text-decoration: none;
    font-size: 20px;
}

nav li a:hover, 
ol li a:hover,
h2 a:hover,
footer a:hover{
    text-decoration: underline;
}

.show{
    display: block;
    position: absolute;
    top: 71px;
    right: 0;
    width: -30%; /*rykket menuen til højre på siden uden at den dækker 100% af siden*/
    background-color: #f7f5f3;
}

button#bars{
    background-color: transparent;
    border: none;
}

/*main*/
main{
    margin: 4em;
}

.logo-center, .logo-kontakt{
    display: flex;
    justify-self: center;
    height: 15em;
    width: auto;
    padding: 1em 0 1em 0;
}

.section-1,
.section-genbrug{
    text-align: center;
    color: #29467f;
    padding: 1em 0 1em 0;
}

.liste-1,
.liste-2{
    display: flex;
    justify-content: center;
}


ol li a, footer a{
    list-style-position: inside;
    text-decoration: none;
}

.nordvest,
.bronshoj,
.norrebro,
.frederiksberg,
.vesterbro,
.amager,
.osterbro{
    text-align: center;
    padding: 1em 0 1em 0;
}

h1{
    font-size: 18px;
}

h2{
    font-size: 16px;
}

h2 a{
    text-decoration: none;
}

section img{
    width: 60%;
    display: block; /*centrere elementet på siden*/
    margin: 0 auto;
}


/*side 2 genbrugsguide nv*/
.text-2{
    width: 60%;
    display: block; /*centrere elementet på siden*/
    margin: 0 auto;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

h3{
    font-size: 16px;
    text-align: center;
    padding-top: 1em;
}


/*side 3 kontakt*/
.text-3{
    text-align: center;
}
.kontaktform{
    padding: 1.3em;
    width: 50%;
    margin: 0 auto; /*centrerer elementet på siden*/
}

input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 1em;
    background-color: #ECECEC;
    color: #29467f;
    border: 1px solid #c5c5c5;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

input[type=submit]{
    cursor: pointer;
    background-color: #ECECEC;
    color: #29467f;
    padding: 0.8em 1.5em;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    font-size: 16px;
}

input[type=submit]:hover{
    background-color: #d8d8d8;
}

/*WCAG class gemmer teksten fra skærmen, men kan stadig læses af skærmlæsere*/
.visually-hidden{ 
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}

/*footer*/
footer{
    border-top: 1px #333 solid;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.footer-img img{
    width: 40px;
    height: auto;
    padding: 0.5em;
}

/*desktop responsiv*/
@media screen and (min-width: 769px){
    .nordvest, 
    .norrebro,
    .vesterbro,
    .osterbro,
    .bing,
    .rode{
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        gap: 1em;
    }

    .text{
        padding-top: 8.5em;;
    }

    .bronshoj,
    .frederiksberg,
    .amager,
    .udv,
    .kirk{
        display: flex;
        flex-direction: row;
        text-align: left;
        gap: 1em;
    }
    
    .text-2{
        padding-top: 2em;
    }
}