/*farvekoder:
baggrund #f7f5f3
tekst #29467f
*/

*{
    box-sizing: border-box;
    margin: 0;
    font-family: poppins;
    background-color: #f7f5f3;
}

/*navigation*/

header {
    background-color: #f7f5f3;
    padding: 1em;
}

.logo{
    width: 50px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

nav ul {
    list-style-type: none; /*fjerner bulletpoints*/
    padding: 0;
}

nav li {
    padding: 0.8em;
}

nav li a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
}

nav li a:hover {
    text-decoration: underline;
}
/*main*/
main {
    margin: 4em;
}

section {
    margin-bottom: 3em;
}

/*header*/
header nav {
    display: none;
}

header {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1.3em;
    border-bottom: #333 1px solid;
}

.show {
    display: block;
    position: absolute;
    top: 49px;
    left: 0;
    background-color: rgb(215, 196, 110);
    width: 100%;
}

button#bars {
    background-color: transparent;
    border: none;
}

section:nth-of-type(1) div {
    padding-bottom: 2em;
}

