/*farvekoder:
baggrund #f7f5f3
tekst #29467f
*/

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7f5f3;
    color: #29467f;
    line-height: 1.5;
}

/*navigation*/

header{
    background-color: #f7f5f3;
    padding: 1em;
}

.logo{
    width: 50px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

nav ul{
    list-style-type: none; /*fjerner bulletpoints*/
    padding: 0;
}

nav li{
    padding: 0.8em;
}

nav li a{
    color: #29467f;
    text-decoration: none;
    font-size: 20px;
}

nav li a:hover{
    text-decoration: underline;
}


/*header*/
header nav{
    display: none;
}

header{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1.3em;
    border-bottom: #333 1px solid;
}

.show{
    display: block;
    position: absolute;
    top: 49px;
    left: 0;
    background-color: rgb(215, 196, 110);
    width: 100%;
}

button#bars{
    background-color: transparent;
    border: none;
}
/* evt slet
section:nth-of-type(1) div{
    padding-bottom: 2em;
}*/

/*main*/
main{
    margin: 4em;
}

.logo-center{
    display: flex;
    justify-self: center;
    height: 15em;
    width: auto;
    padding: 1em 0 1em 0;
}

.section-1{
    text-align: center;
    color: #29467f;
    padding: 1em 0 1em 0;
}

.liste-1{
    display: inline-block;
    text-align: center;
    padding: 1em 0 1em 0;
    list-style-position: inside;
}

ol li a{
    text-decoration: none;
    color: #29467f;
}

.nordvest,
.bronshoj,
.norrebro,
.frederiksberg,
.vesterbro,
.amager,
.osterbro{
    text-align: center;
    padding-bottom: 1em;
}

h2 a{
    text-decoration: none;
}

/*footer*/
footer{
    border-top: 1px #333 solid;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em 1em 1em;
}

.footer-img img{
    width: 40px;
    height: auto;
    padding: 0.5em;
}